body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.myDiv {
  width: 530px;
  text-align: left;
  background-color: rgb(248, 247, 246);
  padding: 15px;
}

.principal {
  background-color: rgb(244, 236, 225);

}

.contenido {
  background-color: rgb(244, 236, 225);
  min-height: 400px;
}

.listas-sin-estilo {
  list-style-type: none;
  padding-left: 10px;
  margin: 10px 0;
}

.listas-sin-estilo li {
  margin-bottom: 5px;
}

p {
  margin-bottom: 12px;
}

.colorFuente {
  color: rgb(3, 3, 113);
  font-weight: bold;
}

h1,
h2 {
  margin: 10px 0;
}

h2 {
  color: rgb(16, 16, 255);
  font-family: cursive;
}

.cursiva {
  font-style: italic;
  color: rgb(91, 182, 247);
}